:root{
    --gap: 1vw
}

* {
    padding: 0;
    margin: 0;
}

main{
    margin: 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.hehe {
    display: flex;
    height: 15vh;
    gap: var(--gap);
}

#tete {
    flex-grow: 3;
}

#titi{
    flex-grow: 2;
}

.hehe.l {
    display: flex;
    height: 60vh;
    gap: var(--gap);
}

.hehe > div {
    flex-grow: 1;
    border: 1px solid;
}

.hehe > .hihi {
    flex-grow: 1;
    border: none;
}

.hihi {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border: none;
}

.hihi > div{
    flex-grow: 1;
    border: 1px solid;
}

.hoho {
    height: 15vh;
    border: 1px solid;
}