:root {
    --gap: 1vw
}

* {
    padding: 0;
    margin: 0;
}

.containerMain {
    margin: 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.hehe {
    display: flex;
    height: 15vh;
    gap: var(--gap);
}

#tete {
    flex-grow: 3;
}

#titi {
    flex-grow: 2;
}

.hehe.l {
    display: flex;
    height: 60vh;
    gap: var(--gap);
}

.hehe>div {
    flex-grow: 1;
    border: 0.0625rem solid;
}

.hehe>.hihi {
    flex-grow: 3;
    border: none;
}

.hihi {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border: none;
}

.hihi>div {
    flex-grow: 2;
    border: 0.0625rem solid;
}

.hoho {
    height: 10vh;
    border: 0.0625rem solid;
}

.hoho1 {
    height: 10vh;
}

/* Carrosel de imagens */

.slider {
    display: block;
    height: 18.3125rem;
    width: 37.5rem;
    margin: auto;
    margin-top: 1.25rem;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 25rem;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 0.625rem;
    cursor: pointer;
    display: block;
    height: 0.625rem;
    position: absolute;
    width: 0.625rem;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 0.625rem;
}

.slider li:nth-child(2) label {
    left: 2.5rem;
}

.slider li:nth-child(3) label {
    left: 4.375rem;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* Barra de navegação */

nav {
    display: flex;
    background: #0a5071;
    position: relative;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    overflow: hidden;
    gap: 3.125rem;
}

nav .icon {
    font-size: 2.1875rem;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

nav ol {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

nav ol li {
    margin: 0 0.125rem;
}

nav ol li a {
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.0625rem;
    padding: 0.3125rem 0.625rem;

    transition: 0.3s ease-in;
}

nav ol li:hover a {
    background: #fff;
    color: #0a5071;
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 2.1875rem;
    line-height: 2.1875rem;
}

nav .search_box input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 0.625rem;
    font-size: 20px;
    width: 21.875rem;
}

nav .search_box span {
    color: #0a5071;
    font-size: 1.25rem;
    background: #fff;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span::after {
    height: 100%;
    width: 0%;
    content: '';
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

nav .search_box span:hover {
    color: #fff;
}

nav .search_box span:hover:after {
    width: 100%;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 1250px) {
    nav {
        display: block;
        padding: 0;
        z-index: 2;
    }

    nav .icon {
        display: inline-block;
        padding: 15px 30px;
    }

    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;

    }

    nav .search_box input {
        width: 90%;
    }

    nav ol {
        display: flex;
        flex-direction: column;
        background: #fff;
    }

    nav ol li {
        text-align: center;
    }

    nav ol li a {
        color: #000;
        font-size: 28px;
        padding: 28px;
        display: block;
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }

    nav .bar #times {
        display: none;
    }

    #check:checked ~ nav .bar #times {
        display: block;
    }

    #check:checked ~ nav .bar #bars {
        display: none;
    }

    #check:checked ~ nav ol {
        display: none;
        height: 465px;
    }

    .hehe {
        margin-top: 80px;
    }

    .tete {
        z-index: 1;
    }
}